.layout.horizontal,
.layout.vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.layout.horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout.vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.layout.center,
.layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  color: #333;
}

.sitename {
  font-size: 32px;
}

.banner {
  padding: 5px;
}

.banner .item {
  margin: 5px;
  font-size: 20px;
}

.footer {
  margin: 80px 0 25px;
  padding: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.left a, .right a {
  color: #aaa;
}

.sonnet {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Tangerine', cursive;
}

.sonnet-image-container {
  margin: 50px 0;
  text-align: center;
}

.sonnet-image-container img {
  max-width: 300px;
  height: auto;
}

.sonnet-number {
  font-size: 50px;
  text-align: center;
  margin: 40px 0;
  color: #aaa;
}

.sonnet-title {
  font-size: 30px;
  margin: 40px 0;
}

.stanza {
  margin: 24px 0;
}

.line {
  margin: 4px 0;
  padding-left: 20px ;
  text-indent: -20px ;
}

